# Env & secrets
.env
.venv
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

# Flask
instance/
.webassets-cache

# OS / Editor
.DS_Store
.vscode/
.idea/
*.swp
*~

# Logs & DB & Tests
*.log
*.sqlite3
*.db
.pytest_cache/
.coverage
htmlcov/
